main > section:first-child {
    background-color: rgb(47, 48, 58);
}

main > section > h1:first-child {
    color: white;
}

main > section > button:nth-child(2) {
    color: white;
    background-color: rgb(33, 150, 243);
}

.team {
    background-color: rgb(245, 244, 250);
}

footer {
    background-color:rgb(47, 48, 58) ;
    color: white;
}

footer > a {
    color: white;
}

footer>address>ul>li>a:first-child{
color:rgb(33, 150, 243);
}

footer>address>ul>li>a:nth-child(2){
    color: rgb(33, 150, 243);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none; 
    color: black;
}

#categories {
    background-color: white;
}

